{{line-clamp
  text=text
  classNames="example"
  interactive=false
  truncate=truncate
  useJsOnly=true
  lines=lines
}}
{{#if showFancyButton}}
  <button class="fancy-button" {{action "onButtonClick"}}>{{buttonText}}</button>
{{/if}}
